<% unless @notifications.count == 0 %>

<h1><%= @notifications.count %> notification.</h1>
<ol>
	<% @notifications.each do |notif| %>
	<li><%= notif.id %> - <%= notif.created_at %> - <%= notif.message %></li>
	<% end %>
</ol>

<% else %>
<h1>0 notification.</h1>
<% end %>